.banner{
    background-image: url('../../../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 83vh;
    width: 100%;
    padding-top: 20px;
}